@import '../../commons/styles/colors.scss';
@import '../../commons/styles/templates.scss';

.header {
  @extend %flex;
  justify-content: space-between;
  padding: 1.5rem 1.75rem;
}
.logoWrapper{
   padding-top: .75rem;
}
.btn {
  padding: 0.5rem 0.75rem;
  border: 0.01rem solid $clr-font-prime;
  border-radius: .2rem;
  background-color: $clr-prime;
  color: $clr-font-prime;
  font-size: inherit;
  font-weight: bold;
}
